*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
}

button,
input,
textarea {
  font: inherit;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main .content {
  width: 100%;
  max-width: 500px;
  padding: 25px;
}

#pre-game-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 2em;
  border: 2px solid #d2d3d4;
  border-radius: 5px;
  color: #000;
}

#pre-game-menu p {
  margin-top: 0;
  font-weight: 600;
}

#pre-game-menu .mark-selection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#pre-game-menu .mark-selection button {
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 2em;
  font-weight: 700;
}

#pre-game-menu .mark-selection #x-button {
  color: #d40303;
  border-bottom: 4px solid #d40303;
}

#pre-game-menu .mark-selection #o-button {
  color: #035ad4;
  border-bottom: 4px solid #035ad4;
}

#pre-game-menu .mark-selection #x-button:hover {
  background-color: #fffafa;
}

#pre-game-menu .mark-selection #o-button:hover {
  background-color: #f9fbff;
}

#board {
  display: none; /* grid */
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 20px;
  /* aspect-ratio: 1 / 1; */
  background-color: #d2d3d4;
}

#board .box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* aspect-ratio: 1 / 1; */
  border: none;
  background-color: #fff;
  font-weight: 700;
  font-size: 4em;
  cursor: pointer;
  transition: background-color 0.3s;
}

@supports (aspect-ratio: 1 / 1) {
  #board, #board .box {
    aspect-ratio: 1 / 1;
  }
}

#board .box:hover {
  background-color: #edeff0;
}

#board .box.x {
  color: #d40303;
}

#board .box.o {
  color: #035ad4;
}

#board .box.highlighted {
  background-color: #000;
  color: #fff;
}

.bottom-modal {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  max-width: 600px;
}

#turn-indicator, #winner {
  display: none;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #edeff0;
  border-radius: 5px;
  width: calc(100% - 40px);
}

#winner {
  align-items: center;
  justify-content: space-between;
}

#winner.player-won {
  border: 2px solid green;
}

#winner.player-lost {
  border: 2px solid red;
}

#play-again {
  border: none;
  background-color: transparent;
  color: #002afb;
  font-weight: 700;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  #board {
    gap: 10px;
  }

  #board .box {
    font-size: 2.5em;
  }

  #winner {
    justify-content: center;
    flex-wrap: wrap;
  }
}
